<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
        }
        .modal {
	        display: none;
	        position: fixed;
	        z-index: 1;
	        left: 0;
	        top: 0;
	        width: 100%;
	        height: 100%;
	        overflow: auto;
	        background-color: rgb(0,0,0);
	        background-color: rgba(0,0,0,0.4);
	        padding-top: 60px;
	    }
	
	    .modal-content {
	        background-color: #fefefe;
	        margin: 5% auto;
	        padding: 20px;
	        border: 1px solid #a0a0a0;
	        width: 50%;
	    }
	
	    .close {
	        color: #a0a0a0;
	        float: right;
	        font-size: 28px;
	        font-weight: bold;
	    }
	
	    .close:hover,
	    .close:focus {
	        color: black;
	        cursor: pointer;
	    }
    </style>
</head>
<body class="bg-slate-400 w-screen h-screen">
	
	<div class="flex justify-center items-center h-full">
		
		<h1 class="absolute top-4 left-32 text-5xl">本社審査</h1>
	    <form action="#" th:action="@{/holiday_final_review}" method="post" th:object="${holidayAcquireList}" class="mb-12">
	        <table class="border-collapse border border-lime-900">
	            <thead>
	                <tr>
	                    <th>現場</th>
	                    <th>社員番号</th>
	                    <th>開始</th>
	                    <th>終了</th>
	                </tr>
	            </thead>
	            <tbody>
				    <tr th:each="l, rowStat : ${holidayAcquireList}" class="clickable-row" data-href="#" th:id="'row_' + ${rowStat.index}" th:attr="data-holidayAcquireNo=${l.holidayAcquireNo}, data-vacationNo=${l.vacationNo}, data-reason=${l.reason}, data-refusal=${l.refusal}, vacationNoMap=${vacationNoMap}">
	    				<td th:text="${l.selectedWorkSpot}"></td>
				        <td th:text="${l.workSpotDepart}"></td>
	                    <td th:text="${l.startYear}+'/'+${l.startMonth}+'/'+${l.startDay}+' '+${l.startTime.substring(0,2)} + ':' + ${l.startTime.substring(2,4)}"></td>
	                    <td th:text="${l.endYear}+'/'+${l.endMonth}+'/'+${l.endDay}+' '+${l.endTime.substring(0,2)} + ':' + ${l.endTime.substring(2,4)}"></td>
	               </tr>
	            </tbody>
	        </table>
	    </form>
	    
	    <div id="myModal" class="modal">
		    <div class="modal-content">
		        <span class="close" onclick="CloseModal()">&times;</span>
		        <p id="modalContent"></p>
	        	<div id="rejectionReasonContainer"></div>
		        <button onclick="CloseModal()" class="rounded-full text-white bg-gray-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">改修</button>
		        <button onclick="DeniedModal()" class="ml-32 rounded-full text-white bg-red-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">却下</button>
		        <button onclick="AcceptModal()" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">承認</button>
		    </div>
		</div>
	</div>
    
</body>
</html>
<script>
document.addEventListener('DOMContentLoaded', function () {
    let rows = document.querySelectorAll('.clickable-row');
	
	let vacationNoMap;

    rows.forEach(function (row) {
        row.addEventListener('click', function () {
            // classListを初期化
            document.querySelector('.clickable-row.clicked')?.classList.remove('clicked');
            
            // classListに今クリックした結果を追加
            row.classList.add('clicked');
            
            // 全ての休暇種類を取得
            vacationNoMap = row.getAttribute('vacationNoMap');
			
			// 当結果のデータを取得
            let holidayAcquireNo = row.getAttribute('data-holidayAcquireNo');
            let selectedWorkSpot = row.querySelector('td:nth-child(1)').textContent;
            let workSpotDepart = row.querySelector('td:nth-child(2)').textContent;
            let startDateTime = row.querySelector('td:nth-child(3)').textContent;
            let endDateTime = row.querySelector('td:nth-child(4)').textContent;
            let vacationNo = row.getAttribute('data-vacationNo');
            let reason = row.getAttribute('data-reason');
            let refusal = row.getAttribute('data-refusal');
		    
		    // 当結果の休暇種類を取得
		    let vacationNoShow = iterateVacationNoMap(vacationNoMap, vacationNo);

            // ポップアップウィンドウの内容を設定
            if(selectedWorkSpot.length >= 1){
				if(refusal != null){
		            document.getElementById('modalContent').innerHTML =
		                "現場: " + selectedWorkSpot + "<br>" +
		                "社員番号: " + workSpotDepart + "<br>" +
		                "開始: " + startDateTime + "<br>" +
		                "結束: " + endDateTime + "<br>" +
		                "休暇種類: " + vacationNoShow + "<br>" +
		                "休暇理由: " + reason + "<br>" +
		                "現場審査: " + "却下" + "<br>";
				}
				else{
		            document.getElementById('modalContent').innerHTML =
		                "現場: " + selectedWorkSpot + "<br>" +
		                "社員番号: " + workSpotDepart + "<br>" +
		                "開始: " + startDateTime + "<br>" +
		                "結束: " + endDateTime + "<br>" +
		                "休暇種類: " + vacationNoShow + "<br>" +
		                "休暇理由: " + reason + "<br>" +
		                "現場審査: " + "承認" + "<br>";
				}
			}
            else{
	            document.getElementById('modalContent').innerHTML =
	                "社員番号: " + workSpotDepart + "<br>" +
	                "開始: " + startDateTime + "<br>" +
	                "結束: " + endDateTime + "<br>" +
	                "休暇種類: " + vacationNoShow + "<br>" +
	                "休暇理由: " + reason + "<br>";
			}

            document.getElementById('rejectionReasonContainer').innerHTML =
                '<p>却下理由:</p>' +
				'<textarea class="ml-20 h-32 w-64 border-2 border-black resize-none whitespace-pre-wrap" id="rejectionReason" name="rejectionReason" placeholder="却下理由"></textarea>';
			
            // ポップアップウィンドウを画面に表示
            document.getElementById('myModal').style.display = "block";
        });
    });
});

function CloseModal() {
    // ポップアップウィンドウを画面から消去
    document.getElementById('myModal').style.display = "none";
}

function DeniedModal() {
    // 必要なデータを取得
    let holidayAcquireNo = document.querySelector('.clickable-row.clicked').getAttribute('data-holidayAcquireNo');
    let refusal = document.getElementById('rejectionReason').value;

	if(refusal == ""){
		alert("却下理由が必要");
    	return;
	}
	else if(refusal.length > 50){
		alert("却下理由が字数制限を超えた "+refusal.length+"/"+"50字");
    	return;
	}

    // AJAXでControllerと接続（却下）
    let xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/pcDenied', true);
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

    xhr.onload = function () {
        if (xhr.status === 200) {
            // 結果リストのインスタントアップデート
            updateHolidayFinalReview();
        } else {
			
            Alert('失败');
        }
    };

    // Controllerに送信
    xhr.send(JSON.stringify({ 'holidayAcquireNo': holidayAcquireNo, 'refusal': refusal }));

    // ポップアップウィンドウを画面から消去
    document.getElementById('myModal').style.display = "none";
}


function AcceptModal() {
    // 必要なデータを取得
    let holidayAcquireNo = document.querySelector('.clickable-row.clicked').getAttribute('data-holidayAcquireNo');

    // AJAXでControllerと接続（却下）
    let xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/pcAccept', true);
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

    xhr.onload = function () {
        if (xhr.status === 200) {
            // 結果リストのインスタントアップデート
            updateHolidayFinalReview();
        } else {
            showAlert('失败');
        }
    };

    // Controllerに送信
    xhr.send(JSON.stringify({ 'holidayAcquireNo': holidayAcquireNo }));

    // ポップアップウィンドウを画面から消去
    document.getElementById('myModal').style.display = "none";
}

// 結果リストのインスタントアップデート
function updateHolidayFinalReview() {
    location.reload();
}   
     
// 指定された結果の休暇種類を取得
function iterateVacationNoMap(vacationNoMap0, num) {
	// JSONに変更
	let vacationNoMap0Json = vacationNoMap0  
	  .replace(/(\d+)=(\w+|[\u4e00-\u9fa5\u3040-\u309F\u30A0-\u30FF]+)(?=,|\})/g, '"$1":"$2"') // 在屬性名添加雙引號
	  .replace(/(\w+|[\u4e00-\u9fa5\u3040-\u309F\u30A0-\u30FF]+)(?=\})/g, '"$1"'); // 在值添加缺失的雙引號
	let vacationNoMap = JSON.parse(vacationNoMap0Json);
    // 指定された結果の休暇種類を取得
    for (let key in vacationNoMap) {
		if(key === num){
			return vacationNoMap[key];
		}
    }
}

</script>

